
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1488509485709'); /* IE9*/
  src: url('iconfont.eot?t=1488509485709#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1488509485709') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1488509485709') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1488509485709#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fangkuaizuhe:before { content: "\e61d"; }

.icon-qiyewenku:before { content: "\e600"; }

.icon-jichu:before { content: "\e60b"; }

.icon-weijibaike:before { content: "\e607"; }

.icon-shi:before { content: "\e614"; }

.icon-close:before { content: "\e616"; }

.icon-weijibaike1:before { content: "\e601"; }

.icon-xueshuhuiyi:before { content: "\e602"; }

.icon-xiao07:before { content: "\e608"; }

.icon-kecheng:before { content: "\e60f"; }

.icon-renzhewuqi:before { content: "\e61c"; }

.icon-kecheng1:before { content: "\e610"; }

.icon-xuexiba0220:before { content: "\e611"; }

.icon-1:before { content: "\e618"; }

.icon-more:before { content: "\e61a"; }

.icon-iconfontyonghutouxiang:before { content: "\e603"; }

.icon-tisheng:before { content: "\e60c"; }

.icon-jiaoyu:before { content: "\e612"; }

.icon-heiandark54:before { content: "\e60a"; }

.icon-iconkouqiangxiaobaike:before { content: "\e604"; }

.icon-yonghu:before { content: "\e619"; }

.icon-up:before { content: "\e60d"; }

.icon-teacher1146710easyiconnet:before { content: "\e613"; }

.icon-icon57yuanxingqianbi:before { content: "\e609"; }

.icon-icon61yuanxingbijiben:before { content: "\e605"; }

.icon-icon67yuanxingshuben:before { content: "\e606"; }

.icon-more1:before { content: "\e61b"; }

.icon-tishengxiaolv:before { content: "\e60e"; }

.icon-jiangshi:before { content: "\e615"; }

.icon-yingyongguanli:before { content: "\e652"; }

.icon-jigou:before { content: "\e617"; }

.icon-liebiao:before { content: "\e61f"; }

